@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Work_Sans;
    src: url(/assets/fonts/Work_Sans/WorkSans-Variable.ttf);
  }
  @font-face {
    font-family: Satoshi;
    src: url(/assets/fonts/Satoshi/Satoshi-Variable.ttf);
  }
}

@layer components {
  :root {
    --safe-area-inset-top: 67px;
  }

  .safe-area-top {
    padding-top: var(--safe-area-inset-top);
  }

  .no-scroll {
    scrollbar-width: none;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0px;
  }

  .masonry {
    column-count: 2;
    column-gap: 20px 20px;
    width: fit;
  }
}
